**/node_modules/
**/.next/
**/dist/
**/coverage/
**/.env
**/.env.local
**/.env.*.local
**/*.tsbuildinfo
**/*.bak
**/*.corrupt-backup
.DS_Store
Thumbs.db

apps/api/api-out.log
apps/api/api-error.log

apps/api/api-start.log
apps/web/web-dev-error.log
apps/web/web-dev-out.log
